a:link {
  color: black;
  font-size: 40px;
  font-style:normal;
  font-family:cursive;
}

/* visited link */
a:visited {
  color: black;
  font-size: 20px;
  font-style:normal;
  font-family:cursive;
}

/* mouse over link */
a:hover {
  color: #F94892;
}

body{
    background-color: #FDEBF7;
  }

hr{
  border-color: #FFADF0;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-top: line;
  height: 0.5px;
  width: 70%;
  margin-left: 0;
  background-color: #FBCAFF;
}

.zoomInstr{
  font-size: 15px;
  position: relative;

}

.arrow{
  position:absolute;
  margin-bottom: 50px;
  height: 70px;
  width: 180px;
}

.textArrow{
  margin-left: 120px;
}

.spanArrow{
  font-size: 20px;

}

.MainPhoto{
  height: 170px;
  background-color: #FDEBF7;
  margin-left: 50px;
}

.Center{
  margin-left: auto;
  margin-right: auto;
}

.tableAlignment{
  margin-left: 60px;
  margin-right: auto;
}

.Achivments{
  font-size: 20px;
  font-family:cursive;
  background-color: #FBCAFF;
  border-radius: 10%;
  border-color: #FFADF0;
}

.vi{
  color: #FC28FB;
  font-size: 22px;
  font-style: oblique;
}

.MainLogo{
  height: 180px;
  width: 180px;
  border-radius: 10%;
  margin-left: 0;
}

.header{
  font-size: 30px;
  font-style: oblique;
  font-family:cursive;
}

.logoTable{
  text-align: center;
  font-size: 30px;
  font-style:normal;
  font-family:cursive;
  text-shadow:2px 2px #FBCAFF;
  border: none;

}

.empty{
  border: none;
}

.Sunday{
  background-color: #D885A3;
}

.Monday{
  background-color: #F0D9FF;
}

.Tuesday{
  background-color: #986D8E;
}

.Wendsday{
  background-color: #D5ECC2;
}

.Thursday{
  background-color: #CAF7E3;
}

.Friday{
  background-color: #F4A9A8;
}

.ZOOM{
  background-color: #6886C5;
  font-size: 40px;
}

.STUDIO{
  background-color: #A6B1E1;
  font-size: 40px;
}

.contentTable{
  text-align: center;
  border-spacing: 50px;
  border-collapse: separate;
  height: 30px;
}

.WelcomeHeader{
  text-align: center;
  background-position: center;
  line-height: 80px;
  font-size: 30px;
  font-style:normal;
  font-family:cursive;
  background-color: #FBCAFF;
  height: 80px;

}

.MainStudioText{
  font-size: 20px;
  font-style:normal;
  font-family:cursive;
}

.table{
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  text-align: center;
  border-collapse: separate;
  border-spacing: 30px 15px;
  border: 1px solid black;
  font-family:cursive;
}

tr{
  border: solid;
}
th{
  border: solid;
}

td{
  border: solid;
}

.ScheduleTable{
  padding-top: 50px;
}

/*
.studio1{
  float: right;
  height:333px;
  width: 500px;
  margin-right: 100px;
  border-radius: 8px;
}*/






.container {
  position: relative;
  width: 500px;
  float: right;
  margin-right: 100px;
}

.image {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;



  float: right;
  height:333px;
  width: 500px;
  margin-right: 100px;
  border-radius: 8px;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
  margin-right: 100px;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  margin-right: 300px;
}
